
.costumers-review{
    width: 100%;
height: 892px;
margin-top: 180px;
background-color: #EFE6FD;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.costumer-header{
    width: 838px;
height: 296px;
top: 70px;
left: 298px;
}
.costumer-header h1{
    width: 838px;
height: 192px;
font-size: 62px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0.02em;
text-align: center;
color: #212121;
}
.costumer-header p{
    width: 838px;
height: 84px;
color: #4E4E4E;
font-size: 25px;
font-weight: 400;
line-height: 40px;
text-align: center;
}
.comments{
    width: 1206px;
height: 342px;
display: flex;
}
.comments-container{
    width: 450px;
height: 228px;
padding: 20px 12px 20px 12px;
margin: 20px;
background-color: #B78AF7;
}
.comments-containerb{
    width: 450px;
height: 342px;
top: 482px;
left: 527px;
padding: 32px 12px 32px 12px;
background-color: #B78AF7;
}
.comments-containerb p{
    width: 362px;
    height: 90px;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.containerb{
    width: 293px;
    height: 78px;
    margin-top: 120px;
    display: flex;
}
.containerb img{
    width: 64px;
    height: 64px;
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
}
.comments-container p{
    width: 362px;
    height: 90px;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left; 
}
.container{
    width: auto;
height: 78px;
margin: 16px;
display: flex;
}
.container img{
    width: 64px;
height: 64px;
border: 1px solid white;
background-color: white;
padding: 10px;
margin-top: 10px;
border-radius: 50px;
}
.container div{
    width: Hug (213px)px;
height: Hug (78px)px;
margin: 12px;
}
.container-text{
    width: 400px;
height: 78px;
margin: 12px;
}
.container-text h4{
    width: 200px;
height: 36px;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
color: #181818;
}
.container-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;    
}
/* question part */
.question-part{
    width: 100%;
height: 1044px;
margin-top: 180px;
background-color: #F8F8F8;
display: flex;
flex-direction: column;
align-items: center;
}
.question-partA{
    width: 838px;
    height: 262px;
    margin-top: 64px;  
}
.question-partA h1{
    width: 838px;
height: 192px;
font-size: 60px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0.02em;
text-align: center;
}
.question-partA p{
    width: 100%;
height: 42px;
top: 284px;
width: 351px;
height: 42px;
font-size: 25px;
font-weight: 400;
line-height: 42px;
text-align: center;
color: #4E4E4E;
}
.question-partB{
    width: 80%;
    display: flex;
    align-items: center;
}
.questions{
    width: 813px;
height: 90px;
margin-top: 15px;
left: 80px;
padding: 24px 46px 24px 32px;
background-color: #FFFFFF;
}
.question-text{
    width: 40px;
    height: 72px;
    margin-top: 78px;    
font-size: 20px;
font-weight: 400;
line-height: 36px;
text-align: left;
}
.questions-header{
    width: 448px;
    height: 42px;
    top: 24px;
    left: 32px;
font-size: 28px;
font-weight: 500;
line-height: 42px;
text-align: left;
color: #1F1F1F;
}
.more-question{
    width: 1000px;
    height: 500px;
    top: 386px;
    left: 949px;  
top: 386px;
background-color: #FFFFFF;

}
/* Stayed Updated */
.stay-updated{
    width: 100%;
    height: 500px;
    background-color: #fff;
}
.updated{
    width: 1275px;
height: 500px;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 15%;
}
.updated-A{
    width: 586px;
height: auto;
}
.updated-A h4{
    width: 586px;
font-size: 40px;
font-weight: 700;
line-height: 60px;
text-align: left;
}
.updated-A p{
    width: 586px;
font-size: 20px;
font-weight: 400;
line-height: 36px;
text-align: left;
margin-top: 10px;
}
.updated-B{
    width: 639px;
}
.updated-B p{
    width: 628px;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-top: 10px;
}
.form-input{
    width: 639px;
height: 64px;
top: 104px;
border-radius: 8px;
}
.form-input input{
    width: 411px;
height: auto;
padding: 22px 256px 18px 16px;
border-radius: 8px;
background-color: #E2E2E2;
}
.form-input button{
    width: 228px;
height: auto;
padding: 20px 8px 20px 8px;
gap: 8px;
border-radius: 8px;
background-color: #6200EE;
color: #fff;
}
