.footer-container {
    width: 100%;
    height: auto;
    background-color: #290064;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.footer-sec {
    width: 70%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Enable flex-wrap */
}

.footer-text {
    flex: 1 1 150px; /* Flex properties to allow wrapping */
    margin: 10px; /* Margin to add spacing */
}

.footer-text h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
}

.footer-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
    margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.foot {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-hr {
    width: 90%;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.foot-footer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.foot-footer p {
    flex: 1 1 600px; /* Flex properties to allow wrapping */
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
    color: white;
    margin: 10px; /* Margin to add spacing */
}

.social-icons {
    display: flex;
    margin: 10px; /* Margin to add spacing */
}

.footer-icons {
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

/* Media Queries */
@media (max-width: 767px) {
    .footer-container{
        margin-top: 100px;
    }
    .footer-sec {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .footer-text h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .footer-text p {
        font-size: 14px;
        line-height: 22px;
    }

    .foot-footer {
        width: 90%;
    }

    .foot-footer p {
        text-align: center;
    }

    .social-icons {
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-sec {
        width: 80%;
    }

    .foot-footer {
        width: 80%;
    }
}
